In [1]:
import pandas as pd
import numpy as np 
import matplotlib as plt

In [2]:
df = pd.read_csv("./Donnees/donnees_consommation.csv")

In [3]:
df.head()

,Nom,Prenom,Age,Sexe,Temps_Réseaux,Temps_Streaming,Temps_Jeux,Plateforme_Préférée,Appareil
0,Durand,Maxime,32,H,4.2,1.7,3.1,Discord,Tablette
1,Morel,Thomas,18,H,2.3,1.3,0.7,Xbox,Console
2,Durand,Julien,23,F,0.8,0.6,0.5,Steam,Ordinateur
3,Fontaine,Léa,26,F,3.5,0.7,1.4,Hulu,Ordinateur
4,Fontaine,Léa,29,F,3.0,4.1,1.7,Discord,Console