## Première question 
# À lʼaide de Pandas, fais une analyse descriptive des données

In [1]:
import pandas as pd  

# 1) Moyennes et médianes du temps passé par activité :

df = pd.read_csv("donnees_con.csv") # lecture du fichier csv
# fonction de convertion en minutes
def convert (time_str) : 
    try : 
        if "<" in time_str:
            return 0.5
        start, end = time_str.split('-') 
        start_h = int(start.replace('h', '')) 
        end_h = int(end.replace('h','')) # on enlève le 'h' et on convertit en int
        duration = (start_h + end_h)/2 # calcul de la durée en heures
        return duration 
    except :
        return 0

# Convertion des colonnes d'activités 
for col in ['Temps_Réseau', 'Temps_Streaming', 'Temps_Jeux'] : 
    df[col] = df[col].apply(convert)

# Calculer les statistiques
statistiques = {
    'Activité': ['Réseaux sociaux', 'Streaming', 'Jeux vidéo'],
    'Moyenne (min)': [
        df["Temps_Réseau"].mean(),
        df["Temps_Streaming"].mean(),
        df["Temps_Jeux"].mean()
    ],
    'Médiane (min)': [
        df["Temps_Réseau"].median(),
        df["Temps_Streaming"].median(),
        df["Temps_Jeux"].median()
    ]
}

print("\n Statistiques de temps quotidien par activité :")
df_resultat = pd.DataFrame(statistiques)
df_resultat

 Statistiques de temps quotidien par activité :

          Activité  Moyenne (min)  Médiane (min)
0  Réseaux sociaux       6.266667            6.5
1        Streaming       3.333333            1.5
2       Jeux vidéo       2.766667            1.5

## Deuxième question

In [8]:
#  Répartition des plateformes préférées par tranche dʼâge ou sexe
import pandas as pd

# Charger les données
df = pd.read_csv("../Donnees/donnees_con.csv")

# Nettoyer et éclater les plateformes
df["Plateforme_Préférée"] = df["Plateforme_Préférée"].astype(str).str.split(";") # Convertir les valeurs en liste
df["Plateforme_Préférée"] = df["Plateforme_Préférée"].apply(
    lambda x: [item.strip() for item in x if item.strip() != "nan"]
) # Supprimer les valeurs "nan" et les espaces

df_ex = df.explode("Plateforme_Préférée").dropna(subset=["Plateforme_Préférée"]) # Éclater les listes en lignes individuelles

# Gérer les tranches d'âge
age_order = ["10 - 17 ans", "18 - 24 ans", "25 - 34 ans", "35 - 44 ans", "45 - 54 ans", "55 - et plus"] # Définir l'ordre des catégories
df_ex["Tranche_dage"] = pd.Categorical(df_ex["Age"], categories=age_order, ordered=True) # Convertir la colonne "Age" en catégorie ordonnée

# 1. Tableau par ÂGE
distribution_age = pd.crosstab(
    index=df_ex["Plateforme_Préférée"],
    columns=df_ex["Tranche_dage"]
)

# 2. Tableau par SEXE
distribution_sexe = pd.crosstab(
    index=df_ex["Plateforme_Préférée"],
    columns=df_ex["Sexe"]
)

print("\n=== Répartition par Sexe ===")
print(distribution_sexe)

print("\n=== Répartition par Âge ===")
distribution_age

=== Répartition par Sexe ===
Sexe                 Feminin  Masculin
Plateforme_Préférée
Facebook                   1         0
Instagram                  1         1
TikTok                     7         3
WhatsApp                   1         3

=== Répartition par Âge ===

Tranche_dage         18 - 24 ans  25 - 34 ans
Plateforme_Préférée
Instagram                      2            0
TikTok                         9            1
WhatsApp                       4            0

## Troisième question

In [4]:
# Taux dʼutilisation des différents appareils
import pandas as pd

df = pd.read_csv("../Donnees/donnees_con.csv")

# Nettoyer et éclater les appareils
df["Appareil"] = df["Appareil"].str.split(";").apply(lambda x: [item.strip() for item in x])
df_ex = df.explode("Appareil")

# Calcul du taux avec df_ex
resultat = (
    df_ex.groupby("Appareil")  # <-- Utiliser df_ex ici
    .size()
    .div(len(df))  # Diviser par le nombre total de répondants (pas de doublons)
    .mul(100)
    .round(2)
    .sort_values(ascending=False)  # Trier par pourcentage décroissant
    .reset_index()
    .rename(columns={"Appareil": "Appareils utilisés", 0: "Pourcentage"})
)

print("\n Taux d'utilisation des appareils :")
resultat

 Taux d'utilisation des appareils :

  Appareils utilisés  Pourcentage
0         Smartphone        88.24
1           Tablette        11.76

## Bonus

In [3]:
import pandas as pd  

# 1) Moyennes et médianes du temps passé par activité :

df = pd.read_csv("../Donnees/donnees_con.csv") # lecture du fichier csv

# fonction de convertion 
def convert (time_str) : 
    try : 
        if "<" in time_str:
            return 0.5
        
        start, end = time_str.split('-') # on sépare les heures de début et de fin
        start_h = int(start.replace('h', '')) 
        end_h = int(end.replace('h','')) # on enlève le 'h' et on convertit en int
        duration = (start_h + end_h)/2 # calcul de la durée en heures
        return duration 
    except :
        return 0

# Convertion des colonnes d'activités 
for col in ['Temps_Réseau', 'Temps_Streaming', 'Temps_Jeux'] : 
    df[col] = df[col].apply(convert)
# Calculer les statistiques
statistiques = {
    'Activités': ['Réseaux sociaux', 'Streaming', 'Jeux vidéo'],
    'Minimum': [
        df["Temps_Réseau"].min(),
        df["Temps_Streaming"].min(),
        df["Temps_Jeux"].min()
    ],
    'Maximum': [
        df["Temps_Réseau"].max(),
        df["Temps_Streaming"].max(),
        df["Temps_Jeux"].max()
    ],
    'Ecart-type' : [
        df["Temps_Réseau"].std(),
        df["Temps_Streaming"].std(),
        df["Temps_Jeux"].std()
    ]
}

print("\n Statistiques de temps quotidien par activité :")
df_resultat = pd.DataFrame(statistiques)
df_resultat

 Statistiques de temps quotidien par activité :

         Activités  Minimum  Maximum  Ecart-type
0  Réseaux sociaux      1.5      9.5    3.023195
1        Streaming      1.5      9.5    2.634611
2       Jeux vidéo      1.5      7.5    1.806850